@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,700i&amp;subset=cyrillic,greek,latin-ext");
body {
  font-size: 13px;
  font-weight: 400;
  font-family: "Roboto", "Noto Sans", "Arial", "Helvetica", sans-serif;
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.87);
  margin: auto;
  margin-top: 320px;
  max-width: 65vw; }
  @media screen and (max-width: 768px) {
    body {
      font-size: 14px; } }
  @media screen and (max-width: 768px) {
    html body {
      margin-left: 16px;
      margin-right: 16px;
      max-width: none; } }

#main-header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
  width: 100vw;
  height: 320px;
  top: 0px;
  left: 0px;
  z-index: 1;
  user-select: none;
  background-color: #f5f5f5;
  transition: box-shadow 275ms cubic-bezier(0.4, 0, 0.2, 1), height 150ms cubic-bezier(0.4, 0, 0.2, 1); }
  #main-header.scrolled {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 64px; }

#primary-title {
  font-size: 112px;
  font-weight: 300;
  font-family: "Roboto Mono", "Droid Sans Mono", monospace;
  text-align: center;
  padding: 0px;
  margin: 75px 0px;
  transition: margin 275ms cubic-bezier(0.4, 0, 0.2, 1), font-size 275ms cubic-bezier(0.4, 0, 0.2, 1), height 275ms cubic-bezier(0.4, 0, 0.2, 1), padding 275ms cubic-bezier(0.4, 0, 0.2, 1); }
  #primary-title img {
    height: 140px;
    transition: height 200ms cubic-bezier(0.4, 0, 0.2, 1); }
  header.scrolled #primary-title {
    margin: 0px;
    font-size: 0px;
    height: 24px;
    padding: 20px; }
    header.scrolled #primary-title img {
      height: 28px;
      margin-top: -2px;
      margin-right: 0px;
      margin-bottom: -2px;
      margin-left: 0px; }
  @media screen and (max-width: 449px) {
    #primary-title {
      font-size: 56px;
      font-weight: 400; }
      #primary-title img {
        height: 112px; } }
  @media screen and (max-width: 369px) {
    #primary-title img {
      height: 77px; } }
  @media screen and (max-width: 259px) {
    #primary-title img {
      height: 56px; } }

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 16px;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.87); }
  .mdl-cell .card {
    margin: 0px; }
  .card .full {
    width: calc(100% + 32px);
    height: calc(100% + 32px);
    margin: -16px;
    margin-bottom: -20px;
    object-fit: cover; }
  .card img.left {
    float: left;
    height: calc(100% + 32px);
    width: calc(50% + 16px);
    margin: -16px;
    margin-right: 16px; }
  .card img.right {
    float: right;
    height: calc(100% + 32px);
    width: calc(50% + 16px);
    margin: -16px;
    margin-left: 16px; }
  .card img.top {
    width: calc(100% + 32px);
    margin: -16px;
    margin-bottom: 16px; }
  .card.no-padding {
    padding: 0px; }
    .card.no-padding section {
      padding: 16px; }
  .card section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
    .card section:last-child {
      border-bottom: none; }

.projects-card section {
  min-height: 32px;
  position: relative; }

.projects-card .right-buttons {
  opacity: 0;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px 8px;
  height: 65px;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: default;
  user-select: none;
  font-size: 0px; }
  .projects-card .right-buttons a {
    display: inline-block;
    padding: 8px;
    border-radius: 20px;
    height: 24px;
    width: 24px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 24px;
    margin: 12.5px 0px;
    margin-left: 4px;
    transition: background-color 175ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer; }
    .projects-card .right-buttons a:hover {
      background: rgba(0, 0, 0, 0.2); }
    .projects-card .right-buttons a i {
      display: inline-block;
      height: 24px;
      line-height: 24px;
      transform: translateY(-1px); }

.projects-card section:hover .right-buttons {
  opacity: 1; }

#tab-bar {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  margin-top: -48px;
  height: 48px;
  z-index: 2;
  transition: z-index 0ms linear 50ms; }
  header.scrolled + #tab-bar {
    z-index: 0; }
  #tab-bar:focus, #tab-bar :focus {
    outline: none; }
  #tab-bar a {
    text-align: center;
    line-height: 48px;
    text-decoration: underline;
    color: inherit; }

#content {
  margin-top: 16px;
  position: relative;
  color: rgba(0, 0, 0, 0.54); }
  #content .page {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 1;
    transition: opacity 275ms cubic-bezier(0.4, 0, 0.2, 1) 275ms; }
    #content .page:not(.selected) {
      opacity: 0;
      transition: opacity 275ms cubic-bezier(0.4, 0, 0.2, 1); }
    #content .page.hidden {
      display: none; }

.typography {
  font-size: 13px;
  font-weight: 400; }
  @media screen and (max-width: 768px) {
    .typography {
      font-size: 14px; } }
  .typography p {
    margin-top: 16px;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px; }
  .typography blockquote {
    color: rgba(0, 0, 0, 0.54);
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 8px;
    margin-left: 8px;
    font-style: italic;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 24px; }
    .typography blockquote i, .typography blockquote em {
      font-style: normal; }
    .typography blockquote p {
      margin-top: 0px;
      margin-bottom: 0px; }
  .typography h1 {
    font-size: 45px;
    font-weight: 400; }
  .typography h2 {
    font-size: 34px;
    font-weight: 400; }
  .typography h3 {
    font-size: 24px;
    font-weight: 400; }
  .typography h4 {
    font-size: 20px;
    font-weight: 500; }
  .typography h5 {
    font-size: 15px;
    font-weight: 400; }
    @media screen and (max-width: 768px) {
      .typography h5 {
        font-size: 16px; } }
  .typography h6 {
    font-size: 13px;
    font-weight: 500; }
    @media screen and (max-width: 768px) {
      .typography h6 {
        font-size: 14px; } }
  .typography hr {
    margin-top: 16px;
    margin-right: -16px;
    margin-bottom: 16px;
    margin-left: -16px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
  .typography ul, .typography ol {
    padding-left: 20px;
    margin-top: 16px;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px; }
    .typography ul li, .typography ol li {
      margin-bottom: 4px; }
  .typography a {
    color: #448aff;
    text-decoration: none; }
    .typography a:hover {
      text-decoration: underline; }
  .typography i, .typography em {
    font-style: italic; }
  .typography b, .typography strong {
    font-weight: bold; }
    .typography b.medium, .typography strong.medium {
      font-weight: 500; }
  .typography code {
    background-color: #f5f5f5;
    border-radius: 2px;
    padding: 1px 4px;
    margin: 0px 2px; }
  .typography pre {
    margin: 16px 0px;
    white-space: pre-wrap; }
    .typography pre code {
      display: block;
      font-size: 10pt;
      padding: 8px;
      margin: 0px;
      overflow-x: auto; }
  .typography > img {
    border-radius: 2px; }
  .typography::selection, .typography ::selection {
    background-color: #82b1ff; }
  .typography .no-margin {
    margin: 0px; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.mono, .typography code {
  font-family: "Roboto Mono", "Droid Sans Mono", monospace; }

#overlay {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  left: 0px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
  pointer-events: none;
  transform-style: preserve-3d;
  cursor: default; }
  #overlay.show {
    opacity: 1;
    pointer-events: auto; }
  #overlay #modal-dialog {
    box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.36559), 0px 20px 48px rgba(0, 0, 0, 0.22);
    padding: 16px;
    background-color: #ffffff;
    border-radius: 2px;
    overflow: auto;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0px;
    max-height: calc(100vh - 32px);
    width: 100%;
    max-width: 65vw;
    cursor: initial; }
    #overlay #modal-dialog.no-padding {
      padding: 0px; }
      #overlay #modal-dialog.no-padding section {
        padding: 16px; }
    #overlay #modal-dialog section {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
      #overlay #modal-dialog section:last-child {
        border-bottom: none; }
    @media screen and (max-width: 768px) {
      #overlay #modal-dialog#modal-dialog {
        max-width: calc(100vw - 32px); } }

.no-margin {
  margin: 0px; }

.tips-category {
  padding: 0px;
  transition: box-shadow 225ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  color: white;
  background-color: #424242;
  height: 96px;
  position: relative; }
  .tips-category:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .tips-category::selection, .tips-category ::selection {
    background-color: rgba(255, 255, 255, 0.2); }
  .tips-category h4 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px 16px; }

.tips-application {
  transition: box-shadow 225ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  line-height: 24px; }
  .tips-application:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .tips-application-icon {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    user-select: none;
    object-fit: contain; }

#tips-category-customize {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.techicorner.com/wp-content/uploads/2015/09/mutli-theme-he.jpg");
  background-size: cover;
  background-position: center; }

#tips-category-essentials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://img.clipartfest.com/ba0e33432da284dadd142771ebd8104c_tips-to-protect-your-teaching-tips_1230-640.jpeg");
  background-size: cover;
  background-position: center right; }

#tips-category-new-app {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://static.pexels.com/photos/6565/apple-desk-laptop-working.jpg");
  background-size: cover;
  background-position: center; }
