/* line 3, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
body {
  font-size: 13px;
  font-weight: 400;
  font-family: "Roboto", "Noto Sans", "Arial", "Helvetica", sans-serif;
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.87);
  margin: auto;
  margin-top: 320px;
  max-width: 65vw; }
  @media screen and (max-width: 768px) {
    /* line 3, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    body {
      font-size: 14px; } }
  @media screen and (max-width: 768px) {
    /* line 11, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    html body {
      margin-left: 16px;
      margin-right: 16px;
      max-width: none; } }

/* line 23, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
#main-header {
  box-shadow: none;
  position: fixed;
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: 1;
  user-select: none;
  background-color: transparent;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 275ms cubic-bezier(0.4, 0, 0.2, 1); }
  /* line 35, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  #main-header.scrolled {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #f5f5f5;
    transition: background-color 75ms cubic-bezier(0.4, 0, 0.2, 1); }

/* line 43, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
#primary-title {
  font-size: 112px;
  font-weight: 300;
  font-family: "Roboto Mono", "Droid Sans Mono", "Monaco", monospace;
  text-align: center;
  padding: 0px;
  margin: 75px 0px;
  transition: margin 275ms cubic-bezier(0.4, 0, 0.2, 1), font-size 275ms cubic-bezier(0.4, 0, 0.2, 1), height 275ms cubic-bezier(0.4, 0, 0.2, 1), padding 275ms cubic-bezier(0.4, 0, 0.2, 1); }
  /* line 52, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  #primary-title img {
    height: 140px;
    transition: height 200ms cubic-bezier(0.4, 0, 0.2, 1); }
  /* line 57, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  header.scrolled #primary-title {
    margin: 0px;
    font-size: 0px;
    height: 24px;
    padding: 20px; }
    /* line 63, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    header.scrolled #primary-title img {
      height: 28px;
      margin-top: -2px;
      margin-right: 0px;
      margin-bottom: -2px;
      margin-left: 0px; }
  @media screen and (max-width: 449px) {
    /* line 43, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    #primary-title {
      font-size: 56px;
      font-weight: 400; }
      /* line 77, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
      #primary-title img {
        height: 112px; } }
  @media screen and (max-width: 369px) {
    /* line 83, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    #primary-title img {
      height: 77px; } }
  @media screen and (max-width: 259px) {
    /* line 89, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    #primary-title img {
      height: 56px; } }

/* line 95, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 16px;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.87); }
  /* line 106, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .mdl-cell .card {
    margin: 0px; }
  /* line 110, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .card .full {
    width: calc(100% + 32px);
    height: calc(100% + 32px);
    margin: -16px;
    margin-bottom: -20px;
    object-fit: cover; }
  /* line 118, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .card img.left {
    float: left;
    height: calc(100% + 32px);
    width: calc(50% + 16px);
    margin: -16px;
    margin-right: 16px; }
  /* line 126, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .card img.right {
    float: right;
    height: calc(100% + 32px);
    width: calc(50% + 16px);
    margin: -16px;
    margin-left: 16px; }
  /* line 134, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .card img.top {
    width: calc(100% + 32px);
    margin: -16px;
    margin-bottom: 16px; }
  /* line 140, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .card.no-padding {
    padding: 0px; }
    /* line 143, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    .card.no-padding section {
      padding: 16px; }
  /* line 148, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .card section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
    /* line 151, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    .card section:last-child {
      border-bottom: none; }

/* line 157, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
#tab-bar {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  margin-top: -48px;
  height: 48px;
  z-index: 2; }
  /* line 165, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  header.scrolled + #tab-bar {
    z-index: 0; }
  /* line 169, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  #tab-bar:focus, #tab-bar :focus {
    outline: none; }
  /* line 173, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  #tab-bar a {
    text-align: center;
    line-height: 48px;
    text-decoration: underline;
    color: inherit; }

/* line 181, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
#content {
  margin-top: 16px;
  position: relative;
  color: rgba(0, 0, 0, 0.54); }
  /* line 186, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  #content .page {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 1;
    transition: opacity 275ms cubic-bezier(0.4, 0, 0.2, 1) 275ms; }
    /* line 194, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    #content .page:not(.selected) {
      opacity: 0;
      transition: opacity 275ms cubic-bezier(0.4, 0, 0.2, 1); }
    /* line 199, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    #content .page.hidden {
      display: none; }

/* line 205, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
.typography {
  font-size: 13px;
  font-weight: 400; }
  @media screen and (max-width: 768px) {
    /* line 205, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    .typography {
      font-size: 14px; } }
  /* line 208, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .typography p {
    margin-top: 16px;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px; }
  /* line 217, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .typography blockquote {
    color: rgba(0, 0, 0, 0.54);
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 8px;
    margin-left: 8px;
    font-style: italic;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 24px; }
    /* line 234, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    .typography blockquote i, .typography blockquote em {
      font-style: normal; }
    /* line 238, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    .typography blockquote p {
      margin-top: 0px;
      margin-bottom: 0px; }
  /* line 246, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .typography h1 {
    font-size: 45px;
    font-weight: 400; }
  /* line 250, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .typography h2 {
    font-size: 34px;
    font-weight: 400; }
  /* line 254, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .typography h3 {
    font-size: 24px;
    font-weight: 400; }
  /* line 258, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .typography h4 {
    font-size: 20px;
    font-weight: 500; }
  /* line 262, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .typography h5 {
    font-size: 15px;
    font-weight: 400; }
    @media screen and (max-width: 768px) {
      /* line 262, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
      .typography h5 {
        font-size: 16px; } }
  /* line 266, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .typography h6 {
    font-size: 13px;
    font-weight: 500; }
    @media screen and (max-width: 768px) {
      /* line 266, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
      .typography h6 {
        font-size: 14px; } }
  /* line 270, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .typography hr {
    margin-top: 16px;
    margin-right: -16px;
    margin-bottom: 16px;
    margin-left: -16px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
  /* line 281, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .typography ul, .typography ol {
    padding-left: 20px;
    margin-top: 16px;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px; }
    /* line 290, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    .typography ul li, .typography ol li {
      margin-bottom: 4px; }
  /* line 295, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .typography a {
    color: #448aff;
    text-decoration: none; }
    /* line 299, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    .typography a:hover {
      text-decoration: underline; }
  /* line 304, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .typography i, .typography em {
    font-style: italic; }
  /* line 308, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .typography b, .typography strong {
    font-weight: bold; }
    /* line 311, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    .typography b.medium, .typography strong.medium {
      font-weight: 500; }
  /* line 316, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .typography code {
    background-color: #f5f5f5;
    border-radius: 2px;
    padding: 1px 4px;
    margin: 0px 2px; }
  /* line 325, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .typography pre {
    margin: 16px 0px;
    white-space: pre-wrap; }
    /* line 329, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
    .typography pre code {
      display: block;
      font-size: 10pt;
      padding: 8px;
      margin: 0px;
      overflow-x: auto; }
  /* line 338, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .typography > img {
    border-radius: 2px; }
  /* line 342, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .typography ::selection {
    background-color: #82b1ff; }
  /* line 346, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
  .typography .no-margin {
    margin: 0px; }

/* line 351, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
.inline {
  display: inline; }

/* line 355, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
.inline-block {
  display: inline-block; }

/* line 359, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
.block {
  display: block; }

/* line 363, /home/arm32/Projects/Web/ARM32 website/scss/main.scss */
.mono, .typography code {
  font-family: "Roboto Mono", "Droid Sans Mono", "Monaco", monospace; }

/*# sourceMappingURL=main.css.map */